@font-face {
    font-family: FoundersGrotesk;
    src: url("../src/assets/fonts/FoundersGrotesk-Semibold.ttf");
}
@font-face {
    font-family: NeueMontreal;
    src: url("../src/assets/fonts/NeueMontreal-Regular.ttf");
}
@import "tailwindcss";

@theme{
    --font-foundersGrotesk: FoundersGrotesk ,"sans_serif";
}